@charset "UTF-8";
/* CSS Document */
*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --color-fondo-boton: green; /*Color boton*/
    --color-fondo-header: #128C7E; /*Color header del chat*/
    --color-mensaje-robot: #ffff; /*Color mensaje del boot*/
    --color-mensaje-usuario: #DCF8C6; /*Color mensaje del usuario*/
    --ancho-boton: 70px; /*ancho del boton*/
    --largo-boton: 70px; /*Largo DEL Boton*/
    --left-chat: 2em; /*Posicion del chat left*/
    --right-chat: 2em; /*Posicion del chat right*/
    --ancho-chat: 300px; /*ancho del chat*/
    --largo-chat: 200px; /*Largo del chat*/
    --fondo-chat: url('../img/fondo.jpg'); /*Imagen del fondo del chat*/
    --tamaño-letra: 16px; /*tamaño de la letra*/
    --animacion-chat: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
body{
    font-family: 'Comic Neue', cursive; /*Tipografia del chat*/
}
.all-whatsapp{
    position: fixed;
    right: var(--left-chat);
    bottom: var(--right-chat);
    z-index: 1000
}
.cont-whatsapp{
    position: relative;
}
#boton-whatsapp{
    width: var(--ancho-boton);;
    height: var(--largo-boton);
    background-color: var(--color-fondo-boton);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#boton-whatsapp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont-all-wa{
    display: none;
    position: absolute;
    right: 2.5em;
    bottom: 2.5em;
    background-image: var(--fondo-chat);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    animation: var(--animacion-chat);
}
.active_whatsapp{
    display: block;
    transition: all 1s;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5em 0;
    background-color: var(--color-fondo-header) ;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
}
.cont-firs-header{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cont-img-header{
    width: 50px;
    height: 50px;
}
.cont-img-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cont-firs-header p{
    color: #ffff;
    padding-left: .5em;
}
.cont-second-header{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-second-header img{
    width: 20px;
    cursor: pointer;
}
.cont-mensaje{
    width: var(--ancho-chat);
    height: var(--largo-chat);
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow:scroll;
}
.cont-mensaje p{
    padding-bottom: 1em;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: .5em;
    margin-bottom: 1em;
    width: 80%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    font-size: var(--tamaño-letra);
}
.cont-robot-mensaje{
    border-bottom-right-radius: 7px;
    background-color: var(--color-mensaje-robot);
}
.cont-usuario-mensaje{
    background-color: var(--color-mensaje-usuario);
    align-self: flex-end;
    border-bottom-left-radius: 7px;
}
.cont-input{
    display: flex;
    justify-content: space-around;
}
.cont-input input{
    height: 3em;
    border: none;
    border-radius: 1em;
    margin: 1em;
    width: 70%;
    padding-left: 2em;
}
.cont-input input:focus{
    outline: none;
}
.cont-input button{
    width: 15%;
    margin: 1em;
    height: 3em;
    cursor: pointer;
    padding: .5em;
    background: none;
    border: none;
}
.cont-input button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Animaciones*/
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
  

/*Estilos no necesarios (ignorar)*/
.hola{
    width: 100%;
    height: 100vh;
    background-image: url('../img/ejemplo.jpeg');
    background-size: cover;
    background-position: center;
}